{% load staticfiles %}
<!DOCTYPE html>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>parisport | accueil</title>
  </head>
  <body class="body1">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"> <h1 class="mt-2">PARISPORT</h1></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="btn btn-outline-success my-2 my-sm-0" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
              </ul>
              <span class="navbar-text">

                  
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <form class="form-inline">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                              </form>
                          </li>
                        <li class="nav-item">
                          <a class="btn btn-outline-success my-2 my-sm-0" href="/connexion">login</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-success my-2 my-sm-0" href="/inscription">inscription</a>
                          </li>
                      </ul>
              </span>
            </div>
          </nav>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
         
          <hr class="mt-0 mb-4">
          {% block content %}
          <div class="container">
              <div class="row">
                  <div class="col-md-12 my-sm-5 coleurAbout">
                   <h1 class="lg-text text-white">About Us</h1>
                   <p class="image-aboutus-para">Pour gagner facilement de l'argent, il suffit juste de se connecter et 
                     de parier !!!
                     
                    </p>
                 </div>
              </div>
          </div>
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>